<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/css/first_css.css" />
	<script type="text/javascript">
		function validate_required(field,alerttxt)
		{
			with (field)
			  {
			  if (value==null||value=="")
			    {alert(alerttxt);return false}
			  else {return true}
			  }
		}
		function validate_form(thisform)
		{
			with (thisform)
			  {
			  if (validate_required(input,"输入不能为空!")==false)
			    {input.focus();return false}
			  }
		}
		function changeColor1(element)
		{
			element.style.background='green';
		}
		function changeColor2(element)
		{
			element.style.background='#98bf21';
		}
	</script>
</head>
<body>
<div id='container' align='center'>
	<div id='header'>
		<h1>图书管理系统</h1>
	</div>

	<div id='menu'>
	<ul>
		<li><a class='first' href="" style='background:#98bf21'>所有图书</a></li>
		<li><a class='first' href="">图书信息</a></li>
		<li><a class='first' href="/add/">添加图书</a></li>
		<li><a class='first' href="">修改图书</a></li>
		<li>
			<form  action='/search_result/' onsubmit="return validate_form(this)" method='post'>
			{% csrf_token %}
			<input type='text' id='input_search' name='input' />
			<input type='submit' id='input_submit' onmouseover='changeColor1(this)' onmouseout='changeColor2(this)' value='搜索作者'/>
			</form>
		</li>
	</ul>
	</div>

	<!--<div style="position:absolute;top:3%;left:60%;">
	<a href="/add/">添加图书</a>
	</div>-->

	<div id='content'>
	<table id='books' border='1'>
		<caption>所有图书</caption>
		<th>ISBN</th><th>图书</th><th>作者</th><th colspan="2">操作</th>
		{% for ISBN,bookurl in books.iteritems %}
			<tr>
				<td>{{ISBN}}</td>
				<td><a href={{bookurl.1}} title="点击查看图书详细信息">{{bookurl.0}}</a></td>
				<td>{{bookurl.2}}</td>
				<td><a href={{bookurl.3}} title="点击删除图书" onclick="return confirm('确定删除该记录吗?删除后将无法恢复!')">删除</a></td>
				<td><a href={{bookurl.4}} title="点击更改图书信息">更改</a></td>
			</tr>
		{% endfor %}
	</table>
	</div>

	<div id="footer">Made By Xuedi</div>

</div>

</body>
</html>